# Forcer la détection des langages spécifiques
*.ts linguist-detectable=true
*.glsl linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
flake.nix linguist-detectable=true

# Marquer les dépendances et fichiers générés comme "vendored" (ignorés des stats)
assets/hand_landmarker.task linguist-vendored
package-lock.json linguist-vendored
cli/go.sum linguist-vendored
Cargo.lock linguist-vendored

# Marquer les outils de build comme documentation pour ne pas polluer les stats
Makefile linguist-documentation
Taskfile.yml linguist-documentation
Justfile linguist-documentation
setup_uinput.sh linguist-documentation
master_run.sh linguist-documentation

# Ignorer les dossiers de build s'ils sont présents
build/* linguist-vendored
dist/* linguist-vendored
rust_core/target/* linguist-vendored
venv/* linguist-vendored
