# Forcer la détection
*.ts linguist-detectable=true
*.glsl linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
flake.nix linguist-detectable=true

# Forcer l'identification précise
native/*.c linguist-language=C
native/*.h linguist-language=C
web/dashboard/*.ts linguist-language=TypeScript
assets/shaders/*.glsl linguist-language=GLSL
flake.nix linguist-language=Nix

# On ne garde "vendored" que pour les fichiers qui ne sont VRAIMENT pas du code
assets/hand_landmarker.task linguist-vendored
package-lock.json linguist-vendored
cli/go.sum linguist-vendored
Cargo.lock linguist-vendored
